<template>
  <section>
    <!-- Your content -->
  </section>
</template>

<script lang="ts" setup name="{{ properCase componentName }}">
// const { proxy } = getCurrentInstance()
// const router = useRouter()
// const route = useRoute()
</script>

<style lang="less" scoped>

</style>